<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KCL</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/article.css">
    <link rel="stylesheet" href="css/landing.css">
</head>

<body>
    <header>



        <a href="/"> <img class="logo" src="./photo/logo.png" alt=""></a>
        <Nav>
            <ul class="navMenu">
                <li><a href="/" class="menuA">Home</a></li>
                <li><a href="/Reviews" class="menuA">Reviews</a></li>
                <li><a href="/articles">Articles</a></li>
                <li><a href="/festivalWatch"> Festival Watch</a></li>
                <li><a href="/archive">Archive</a></li>
            </ul>
        </Nav>



    </header>

    <main>
        <div class="center">
            <div class="landingBox">
                <img src="./photo/banner.png" alt="Photo">
            </div>
            <div class="greeting">
                <h2>
                    Ken's Cinematic Lounge
                </h2>
                <p>Hi everyone! My name is Ken Arnold. I am a film journalist who writes for the Nashville Scene. I love
                    the work that I have done in the field of film criticism so I decided to team up with my close
                    friend Darren Eddy to make a platform where I can write about movies and film festivals that I am
                    not reviewing for any publication. We hope to represent films big and small and give them a
                    description further than just a number rating. Our goal is to focus on films that aren’t part of
                    major franchises and to dig more into the world of self contained stories. In addition we hope to
                    bring guides and information about film festival news with additional articles on the cities that
                    host the festivals we attend. We hope that you enjoy our perspectives as we share our experiences
                    and opinions on everything cinematic!</p>
            </div>



            <div class="threeImageLayout">
                <a href="/reviews">
                    <div class="articleBanner">
                        <img src="./photo/jakob-owens-CiUR8zISX60-unsplash.jpg" alt="Image of Film Set">

                        <h3>Reviews</h3>
                    </div>
                </a>

                <a href="/articles">
                    <div class="articleBanner">
                        <img src="./photo/glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg" alt="Image of Reviewer">
                        <h3>Articles</h3>
                    </div>
                </a>

                <a href="/festivalWatch">
                    <div class="articleBanner">
                        <img src="./photo/myke-simon-atsUqIm3wxo-unsplash.jpg" alt="Image of Cinema">
                        <h3>Calendar</h3>
                    </div>
                </a>

            </div>
        </div>


        {{!-- <div class="articleBanner">
            <img src="{{article.promoImage}}" class="bannerImage" alt="{{article.title}} Promo Image">
            <h1>{{article.title}}</h1>

        </div> --}}
    </main>

    <footer>

    </footer>
</body>

</html>